<div class="container p-4 shadow-lg bg-light rounded">
    <h2 class="text-center text-primary mb-4">Editar Tema</h2>
    <form>
        <!-- Campo de Nombre -->
        <div class="mb-4 position-relative">
            <label for="nombre" class="form-label fw-bold">Nombre</label>
            <div class="input-group">
                <span class="input-group-text bg-primary text-white">
                    <i class="bi bi-pencil-fill"></i>
                </span>
                <input [(ngModel)]="data.nombre" type="text" class="form-control border-primary" name="nombre"
                    id="nombre" placeholder="Ingrese el nombre del tema">
                <!--ngModel es una directiva que enlaza el campo de entrada del formulario y la propiedad data.nombre-->
                <!--Si el usuario escribe algo en el campo input, este valor se actualiza automáticamente-->
            </div>
        </div>

        <!-- Campo de Descripción -->
        <div class="mb-4 position-relative">
            <label for="descripcion" class="form-label fw-bold">Descripción</label>
            <div class="input-group">
                <span class="input-group-text bg-info text-white">
                    <i class="bi bi-file-earmark-text-fill"></i>
                </span>
                <input [(ngModel)]="data.descripcion" type="text" class="form-control border-info" name="descripcion"
                    id="descripcion" placeholder="Ingrese la descripción">
            </div>
        </div>

        <!-- Botones de Acción -->
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-success btn-lg w-45" (click)="onAccept()">
                <i class="bi bi-check-circle-fill"></i> Aplicar cambios
            </button>
            <button type="button" class="btn btn-secondary btn-lg w-45" (click)="onCancel()">
                <i class="bi bi-x-circle-fill"></i> Cancelar
            </button>
        </div>
    </form>
</div>